.header {
    width: 100%;
    height: 100px;
    background-color: #116466;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-body {
    width: 100%;
    height: calc(100vh - 200px);
}

.side-nav {
    width: 10%;
    height: calc(100vh - 200px);
    background-color: #eaa96f;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    align-items: center;
    justify-content: center;
    
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #2c3531;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    padding:50px;
    text-align:center;
    height:2000px;
}

h2{
    margin:40px;
}

.btn{
    width:175px;
    margin:20px;
    font-size: 13px;
    font-weight: bold;
    box-shadow: 10px 10px 10px grey;
}
p{
    font-size:20px;
    font-weight:bold;
}

.red{
    color:white;
    background-color: red;
}
.green{
    color:white;
    background-color: green;
}
.blue{
    color:white;
    background-color: blue;
}
p {
    float: left;
    margin-left: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.clickbtn{
    background-color: #234560;
    box-shadow: none;

}

.message{
    font-weight:bold;
    color:green;
    
}

.highlight{
    background-color:grey;
    color:red;  
    text-align: center;

}