<!--<div>
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="main">

    <h1>Data Binding</h1>
    <h4>String interpolation</h4>
      my name is {{firstName}}
    <h4>Property Binding</h4>
    <img width="100" height="100" [src]="imagepath" alt="">
    <p [innerText]=""></p>
    <h4>Event binding</h4>
    <input type="text"  (input)="passVtoComponent($event)">
    <h4>Two way binding</h4>
    <input type="text"  [(ngModel)]="defaultV">
    <span>{{defaultV}}</span>


  </div>
  

  
  <div class="container ">
    <div class="row mt-3">
      <h1><b>Data binding</b></h1>
    </div>
    <div class="row mt-3 mb-3">
      <input id="1" type="text" [(ngModel)]="defaultV" >
    </div>
      <div class="row">
        <span>{{defaultV}}</span>
      </div>

    <div class="row mt-3">
      <button [disabled]="disable" class="btn btn-primary" (click)="toggle()">check me</button>
    </div>
  
  
  </div>

<div class="container">
  <h2>Structual directives - nglf</h2>
  <div class="row">
    <div class="col-md-12">
      <button (click)="approve(true)" class="btn btn-success">Approve</button>
      <button  class="btn btn-danger" (click)="approve(false)">Reject</button>
    </div>
    <div class="col-md-12">
      <p *ngIf="isapproved">your app has been approved</p>
      <p *ngIf="!isapproved">your app has been rejected</p>
    </div>
  </div>
  <hr>
  <h2>Structural directives - nFor </h2>
  <div class="row">
    <div class="col-md-12">
      <p *ngFor="let number of numbers; let i=index">
        <span *ngIf="(i+1)%2===0" >{{i+1}}-{{number}}</span></p>

    </div>
  </div>
  <hr>
  <h2>Structual directives - ngSwitch</h2>
  <div class="row">
    <div class="col-md-12">
      <input type="number" name="luckynumber" [(ngModel)]="luckyNumber">
      <div class="col-md-12" [ngSwitch]="luckyNumber">
        <p *ngSwitchCase="1">Strong</p>
        <p *ngSwitchCase="2">Weak</p>
        <p *ngSwitchCase="3">smart</p>
        <p *ngSwitchCase="4">fool</p>
        <p *ngSwitchCase="5">brave</p>
        <p *ngSwitchDefault>Enter number from 1 to 5</p>





      </div>
    </div>
  </div>
</div>


<div class="container">
  <h2>Attribute directives - ngClass</h2>
  <div class="row">
    <div class="col-md-12">
      <P [ngClass]="{
        red: highlightColor==='red',
        'green': highlightColor==='green',
        'blue': highlightColor==='blue'



      }">click my button to highlight me!</P>
    </div>
    <div class="col-md-12">
      <button class="btn btn-danger" (click)="highlight('red')">Red</button>
      <button class="btn btn-success" (click)="highlight('green')">Green</button>
      <button class="btn btn-primary" (click)="highlight('blue')">Blue</button>

    </div>
  </div>
</div>

<div class="container">
  <h2>Attribute directives - ngClass</h2>
  <div class="row">
    <div class="col-md-12">
      <p [ngStyle]="
      {
        color:isstyleApplied===true ? 'white' : 'black',
        backgroundColor: isstyleApplied ? 'green' : 'white',
      }">click button to toggle style</p>
    </div>
    <div class="col-md-12">
      <button (click)="togglestyle()" class="btn btn-primary">togglr style</button>
    </div>
  </div>
</div>
-->

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-success" [ngClass]="{
        clickbtn: chosenNum===2,
      }" 
      (click)="calculate(2)">Numbers devided by 2</button><br>
      <button class="btn btn-success" [ngClass]="{
        clickbtn: chosenNum===3,
      }" (click)="calculate(3)">Numbers devided by 3</button><br>
      <button [ngClass]="{
        clickbtn: chosenNum===5,
      }" class="btn btn-success" (click)="calculate(5)">Numbers devided by 5</button><br>
      <button [ngClass]="{
        clickbtn: chosenNum===10,
      }" class="btn btn-success" (click)="calculate(10)">Numbers devided by 10</button><br>
      <button [disabled]="clear" class="btn btn-danger" (click)="calculate(1)" >Clear</button>

    </div> 
    <div class="col-md-8">
      <p *ngFor="let r of range" [ngClass]="{
        'highlight': r % chosenNum ===0 && chosenNum>1
        }"
        [ngStyle]="{
        'font-size': (r%chosenNum===0 && chosenNum>1 )? '30px' : '24px'
        }">
      {{r}}</p>
      
    </div>
    <div class="col-md-12 message" *ngIf="chosenNum>1">
      Numbers highlighted above are divisible by {{chosenNum}}
      <p></p>
    </div>
  </div>
  
</div>
